body
{
  /* background-color:#87cefa; */
 /* background-color:#afeeee; */
 background-color:#e0ffff;

}
hr
{
height:3px;
border-width: 10px;
/* background-color: white; */
border-style:dotted none none;
/* border-top-style: dotted; */
/* border-right-style: none; */
/* border-left-style:none; */
border-color:white;

/* border-style: dashed solid; */
/* background-color:grey; */
width: 10%;
}
h1,h3,h2
{
  color: #66bfbf;
}
img:hover
{
  background-color: white;
}
.hover:hover
{
  background-color: white;
}
